<div class="quick-elements">
    <img class="main-song-image" alt="song-cover"/> <!--[src]="cancion.imagen"-->
</div>
<div class="description-left">
    <p class="info">{{cancion?.titulo}}</p>
</div>
<div class="description-right">
    <p class="info">{{cancion?.autor}}</p>
    <p class="info">{{cancion?.fecha}}</p>
</div>
<div class="song-links">
    <p class="info">Escuchala en:</p>
    <ul>
      <li *ngFor="let link of cancion?.links">
        <a href="{{link}}">{{link}}</a>
      </li>
    </ul>
</div>
<div class="comments-section">
  <p class="info">Comentarios</p>
  <form (ngSubmit)="enviarComentario()">
    <label for="comentario">Tu Comentario:</label>
    <textarea
      id="comentario"
      name="comentario"
      rows="4"
      [(ngModel)]="nuevoComentario"
      placeholder="Escribe tu comentario aquí..."
      required
    ></textarea>
    <button type="submit" [disabled]="!nuevoComentario">Enviar</button>
  </form>
  <div class="comment-box" *ngFor="let comentario of comentarios">
    <p class="username">{{comentario.propietario}}</p>
    <p class="user-comment">{{comentario.comentario}}</p>
  </div>
</div>
