<div class="quick-elements">
    <img class="main-song-image" [src]="`http://localhost:8080${cancion?.imagen}`" alt="song-cover"/>
</div>
<div class="description-left">
    <p class="info">{{cancion?.titulo}}</p>
    <div *ngIf="user?.rol === 'Admin'">
      <button (click)="editarCancion()">Editar Cancion</button>
      <button (click)="eliminarCancion()">Eliminar Cancion</button>
    </div>
</div>
<div class="description-right">
    <p class="info">{{cancion?.autor}}</p>
    <p class="info">{{cancion?.fecha}}</p>
</div>
<div class="song-links">
    <p class="info">Escuchala en:</p>
    <ul>
      <li *ngFor="let link of cancion?.links">
        <a href="{{link}}">{{link}}</a>
      </li>
    </ul>
</div>
<div class="comments-section">
  <p class="info">Comentarios</p>
  <form (ngSubmit)="enviarComentario()">
    <label for="comentario">Tu Comentario:</label>
    <textarea
      id="comentario"
      name="comentario"
      rows="4"
      [(ngModel)]="nuevoComentario"
      placeholder="Escribe tu comentario aquí..."
      required
    ></textarea>
    <button type="submit" [disabled]="!nuevoComentario">Enviar</button>
  </form>
  <div class="comment-box" *ngFor="let comentario of comentarios">
    <p class="username">{{comentario.propietario}}</p>
    <div *ngIf="editingid === comentario.id">
      <form (ngSubmit)="editarComentario(comentario.id)">
        <textarea
          id="comentarioEdit"
          name="comentarioEdit"
          rows="4"
          [(ngModel)]="editingComentario"
          placeholder="{{comentario.comentario}}"
          required
        ></textarea>
        <button type="submit" [disabled]="!editingComentario">Guardar</button>
      </form>
      <button (click)="editingid = -1">Cancelar</button>
    </div>
    <div *ngIf="editingid !== comentario.id">
      <p class="user-comment">{{comentario.comentario}}</p>
      <div *ngIf="comentario.idPropietario === user.id">
        <button (click)="editingid = comentario.id">Editar</button>
        <button (click)="eliminarComentario(comentario.id)">Eliminar</button>
      </div>
      <div *ngIf="user?.rol === 'Admin'">
        <button (click)="eliminarComentario(comentario.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
