<div class="quick-elements">
    <img class="main-song-image" alt="song-cover" [src]="cancion.imagen"/>
</div>

<div class="description-left">
    <p class="info">{{cancion.titulo}}</p>
    <!--<p class="info">{{cancion.album}}</p>-->
    <!-- insert info about song album when it becomes a variable in cancion.interface.ts -->
    <ul>
        <i class="info">{{cancion.genero}}</i>
    </ul>
</div>

<div class="description-right">
    <p class="info">{{cancion.autor}}</p>
    <!--
    <div class="stars">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </div>
    <i class="subtitle">Rating</i>
    remember to add this when we have a rating system
    -->
    <p class="info">{{cancion.fecha}}</p>
    <i class="subtitle">{{cancion.fecha}}</i>
</div>

<div class="song-links">
    <p class="info">Escuchala en:</p>
    <ul>
		<li>
			<a [href]="cancion.Links[0]">
                <i>{{cancion.Links[0]}}</i>
            </a>
		</li>
        <li>
            <a [href]="cancion.Links[1]">
                <i>{{cancion.Links[1]}}</i>
            </a>
        </li>
    </ul>
</div>

<div class="comments-section">
    <p class="info">Comentarios</p>
    <div class="comment-box">
        <p class="username">Usuario123</p>
        <p class="user-comment">{{cancion.Comentarios[0]}}</p>
    </div>

    <div class="comment-box">
        <p class="username">Usuario456</p>
        <p class="user-comment">{{cancion.Comentarios[1]}}</p>
    </div>
</div>
