*{
    color: white;
}
.quick-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.quick-options {
    border: white;
	border-radius: 20px;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
}

.description-left, .description-right {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 10px;
}

.description-left {
    text-align: left;
}

.description-right {
    text-align: right;
}

.info{
	font-size: large;
	font-weight: bold;
}

.sub-title{
	font-weight:lighter;
}

/*
.stars i {
    display: inline-block;
    color: gold;
    font-style: normal;
    font-size: 20px;
    margin-right: 3px;
    position: relative;
}
.stars i::before {
    content: "★";
}
*/

.song-links, .comments-section {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.song-links p, .comments-section p {
    margin-bottom: 10px;
}

.comment-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.comment-box.heart{
	display: inline-block;
    color: rgb(174, 0, 255);
    font-style: normal;
    font-size: 20px;
    position: absolute; 
    top: 10px; 
    right: 10px; 
}
.user-pfp {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
}
.username {
    margin-right: 25px;
}