<section class="main-perfil">
  <div class="perfil-header">
    <h2>Mi Perfil</h2>
    <h3>{{User?.nombre}}</h3>
  </div>
  <h2 id="friends">Amigos</h2>
  <div class="amigos-list">
    <div class="amigo" *ngFor="let amigo of User?.amigos">
      <!--<div><i>{{amigo.charAt(0)}}</i></div>-->
      <div><i>{{amigo}}</i></div>
      <i>{{ amigo }}</i>
    </div>
  </div>
  <div class="section-separator"></div>
  <h2 id="my-playlists">Mis Playlists</h2>
  <label for="comentario" class="playlist-label">Crear Playlist:</label>
  <form class="playlist-form" (ngSubmit)="crearPlaylist()">
    <textarea
      id="nombrePlaylist"
      name="nombrePlaylist"
      rows="1"
      [(ngModel)]="nuevaPlaylist"
      placeholder="Escribe el nombre de la Playlist aquí..."
      required
    ></textarea>
    <button type="submit" [disabled]="!nuevaPlaylist">Enviar</button>
  </form>
  <div class="playlist-list">
    <app-playlist *ngFor="let playlist of UserPlaylists"
                  [playlist]="playlist"
    ></app-playlist>
  </div>
</section>
