<section class="main-perfil">
  <div class="perfil-header">
    <h2>{{nombre}}</h2>
    <div *ngIf="idPerfil !== user?.id">
      <button *ngIf="!user.amigos.includes(idPerfil)"
              (click)="agregarAmigo()">Agregar Amigo</button>
      <button *ngIf="user.amigos.includes(idPerfil)"
              (click)="quitarAmigo()">Eliminar Amigo</button>
    </div>
    <div *ngIf="idPerfil === user?.id">
      <button (click)="editingPerfil = true">Editar Perfil</button>
      <button>Eliminar Perfil</button>
    </div>
    <div *ngIf="editingPerfil">
      <form (ngSubmit)="editarNombre()">
        <label for="comentario">Nuevo nombre:</label>
        <textarea
          id="nuevoNombre"
          name="nuevoNombre"
          rows="1"
          [(ngModel)]="nuevoNombre"
          placeholder="Escribe tu nuevo nombre aquí..."
          required
        ></textarea>
        <button type="submit" [disabled]="!nuevoNombre">Enviar</button>
      </form>
      <button (click)="editingPerfil = false">Cancelar</button>
    </div>
  </div>
  <h2 id="friends">Amigos</h2>
  <div class="amigos-list">
    <div class="amigo" *ngFor="let amigo of amigos">
      <a [routerLink]="['/home/PerfilView', amigo.id]">
        <div><i>{{amigo.nombre.charAt(0)}}</i></div>
        <i>{{amigo.nombre}}</i>
      </a>
    </div>
  </div>
  <h2 id="my-playlists">Playlists</h2>
  <div *ngIf="idPerfil === user?.id">
    <form (ngSubmit)="crearPlaylist()">
      <label for="comentario">Crear Playlist:</label>
      <textarea
        id="nombrePlaylist"
        name="nombrePlaylist"
        rows="1"
        [(ngModel)]="nuevaPlaylist"
        placeholder="Escribe el nombre de la Playlist aquí..."
        required
      ></textarea>
      <button type="submit" [disabled]="!nuevaPlaylist">Enviar</button>
    </form>
  </div>
  <div class="playlist-list">
    <app-playlist *ngFor="let playlist of UserPlaylists"
                  [playlist]="playlist"
    ></app-playlist>
  </div>
</section>
