<a (click)="verDetallePlaylist(playlist)">
  <div class="outer-card">
    <div class="card">
      <div class="card-img">
        <div class="img"></div>
      </div>
      <h2>{{playlist.titulo}}</h2>
      <a (click)="navegarPerfil()">{{playlist.propietario}}</a>
    </div>
  </div>
</a>
<button *ngIf="!user.playlists.includes(playlist.id)" (click)="agregarPlaylist()">Agregar playlist</button>
<button *ngIf="user.playlists.includes(playlist.id)" (click)="agregarPlaylist()">Quitar Playlist</button>

