.outer-card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, #52525b 0%, #121128 100%);
  border-radius: 0.5rem;
  padding: 1.6rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: fit-content;
}

.outer-card:hover {
  background: linear-gradient(160deg, #868694 0%, #343175 100%);
  box-shadow: 0 0 2rem rgba(70, 70, 70, 0.2);
}

.card-img .img {
  width: 10rem;
  border-radius: 0.5rem;
  height: 10rem;
}

.card-img {
  overflow: hidden;
}

.card h2 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.song-results2 .outer-card .card span {
  display: none !important;
}

button {
  display: block;
  margin: 20px auto 0 auto;   
  padding: 12px 32px;         
  font-size: 1.1rem;         
  border-radius: 8px;
  background: #343175;
  color: #fff;
}

.button-group, .cancion-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}