<div class="main-container">
  <div class="left-container">
    <h2>Tus amigos han escuchado</h2>
    <section class="song-results">
      <app-cancion *ngFor="let cancion of canciones"
                   [cancion]="cancion"
      ></app-cancion>
    </section>
    <h2>Playlists con mucho Beat</h2>
    <section class="playlist-results">
      <app-playlist *ngFor="let playlist of Playlists" [playlist]="playlist"></app-playlist>
    </section>
  </div>
  <div class="right-container">
    <h2>Tu música</h2>
    <section class="song-results2">
      <app-cancion *ngFor="let cancion of misCanciones.slice(0,5)"
                   [cancion]="cancion"
      ></app-cancion>
    </section>
  </div>
</div>
