<section class="container">
  <!-- SideBar -->
  <nav class="navbar">
    <h1 class="logo">RE:BEATS</h1>
    <ul class="nav-main">
      <li>
        <a [routerLink]="['/home']">
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/crear-cancion']">
          <span>Crear Cancion</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home']">
          <span>Tus playlists</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/home']">
          <span>Amigos</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="right-flex">
    <!-- TopBar -->
    <div class="topbar">
      <div class="container-arrows">
        <div class="container-arrow-left">
          <i><</i>
        </div>
        <div class="perfil">
          <i>{{ User.nombre }}</i>
          <div><i>{{ User.nombre.charAt(0) }}</i></div>
        </div>
      </div>
    </div>
    <!-- Contenido Principal -->
    <router-outlet></router-outlet>
  </div>
</section>
