header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 1%;
  background-color: #0b0b0b;
}

header a {
  text-decoration: none;
  color: #fff;
}

.perfil {
  right: 1px;
}
